<div class="card col-md-12 text-center">
    <div class="card-header col-md-12 text-center">
        <div class="col-md-12">
            <h6>Stockholms Division 5 domares egna homebase !</h6>
        </div>
    </div>
    <div class="card-body col-md-12 text-center">
        <div class="col-md-12">
            <h6>Stockholms Ishockeyförbund</h6>
            <ul style="list-style-type:square;">
                <li><a href="http://www.stockholmhockey.se/Domare/domaretilltraningsmatcher/" target="_blank">Domartillsättning för träningsmatcher U16-DIV4</a></li>
                <li><a href="https://adm.swehockey.se/" target="_blank">TSM - Svenska Ishockeyförbundet</a></li>
                <li><a href="https://stats.swehockey.se/Referee/ByGame" target="_blank">Referee ByGame - Svenska Ishockeyförbundet</a></li>
                <li><a href="http://www.stockholmhockey.se/globalassets/stockholms-ishockeyforbund/dokument/domare/overenskommelse-om-arvoden-och-ersattningar-for-ishockeydomare-2018-2020.pdf" target="_blank">Arvoden 2018-2020 - Stockholms Ishockeyförbundet</a></li>
                <li><a href="http://www.stockholmhockey.se/globalassets/stockholms-ishockeyforbund/dokument/domare/domarkvitto.pdf" target="_blank">Domarkvitto - Stockholms Ishockeyförbundet</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd12NraQbaW23CpqYd3d7GIbTNW5l_VhCy1e6TFlGPUNrwHEA/viewform?fbclid=IwAR3TDMRE8GOEOSEye8TJh0bCO6DPVqoeToWHk3YDKn_EokMuIlkvWNr0CsE" target="_blank">Återbudsdokument Domare - Stockholms Ishockeyförbundet</a></li>
                <li><a href="https://madm.swehockey.se/" target="_blank">Madmin - Ishockeyförbundet</a></li>
                <li><a class="btn btn-sm btn-outline-success" asp-controller="MDProtocols" asp-action="Index">Medicinskt protokoll inför match</a></li>
            </ul>
        </div>
    </div>
    <div class="card-footer col-md-12 text-center">
        <div class="col-md-12">
            <h6>Här kommer det att ligga lite info om oss e.t.c !</h6>
        </div>
    </div>
</div>